<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897797509776-8mcdgnt3qu13mlnk8jnmkl082k5c8lnb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897797509776-8mcdgnt3qu13mlnk8jnmkl082k5c8lnb</string>
	<key>API_KEY</key>
	<string>AIzaSyDGcoNQ9aOahi-NQF6J7POBhGKOy3vC7kU</string>
	<key>GCM_SENDER_ID</key>
	<string>897797509776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebase</string>
	<key>PROJECT_ID</key>
	<string>gyoei-app</string>
	<key>STORAGE_BUCKET</key>
	<string>gyoei-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897797509776:ios:ee274c2aa8bc68b8977e15</string>
</dict>
</plist>